In [1]:
from selenium import webdriver
from selenium .webdriver.common.by import By
from selenium.common.exceptions import ElementNotInteractableException as e


import requests
from bs4 import BeautifulSoup


import pandas as pd
import time
import warnings
warnings.filterwarnings('ignore')

# 1. Scrape the details of most viewed videos on YouTube from Wikipedia. Url 
= https://en.wikipedia.org/wiki/List_of_most-viewed_YouTube_videos You need to find following details: A)
Rank 
B) Name 
C) Artist 
D) Upload date 
E) Views

In [16]:
#getting driver
driver=webdriver.Chrome()

In [17]:
#getting uRL
driver.get('https://en.wikipedia.org/wiki/List_of_most-viewed_YouTube_videos')

In [18]:
driver.maximize_window()     ##maximizing the window

In [19]:
#getting the rank
rank=[]
rt=driver.find_elements(By.XPATH,'//table[@class="wikitable sortable jquery-tablesorter"][1]/tbody/tr/td[1]')
for i in rt:
    rank.append(i.text)

In [20]:
print(len(rank),rank)

30 ['1.', '2.', '3.', '4.', '5.', '6.', '7.', '8.', '9.', '10.', '11.', '12.', '13.', '14.', '15.', '16.', '17.', '18.', '19.', '20.', '21.', '22.', '23.', '24.', '25.', '26.', '27.', '28.', '29.', '30.']

In [21]:
#getting name 
name=[]
nt=driver.find_elements(By.XPATH,'//table[@class="wikitable sortable jquery-tablesorter"][1]/tbody/tr/td[2]')
for i in nt:
    name.append(i.text)

In [22]:
print(len(name),name)

30 ['"Baby Shark Dance"[6]', '"Despacito"[9]', '"Johny Johny Yes Papa"[17]', '"Bath Song"[18]', '"Shape of You"[19]', '"See You Again"[22]', '"Wheels on the Bus"[27]', '"Phonics Song with Two Words"[28]', '"Uptown Funk"[29]', '"Learning Colors – Colorful Eggs on a Farm"[30]', '"Gangnam Style"[31]', '"Masha and the Bear – Recipe for Disaster"[36]', '"Dame Tu Cosita"[37]', '"Axel F"[38]', '"Sugar"[39]', '"Counting Stars"[40]', '"Roar"[41]', '"Baa Baa Black Sheep"[42]', '"Waka Waka (This Time for Africa)"[43]', '"Lakdi Ki Kathi"[44]', '"Sorry"[45]', '"Thinking Out Loud"[46]', '"Humpty the train on a fruits ride"[47]', '"Dark Horse"[48]', '"Perfect"[49]', '"Let Her Go"[50]', '"Faded"[51]', '"Shree Hanuman Chalisa"[52]', '"Girls Like You"[53]', '"Lean On"[54]']

In [23]:
#getting artist
artist=[]
at=driver.find_elements(By.XPATH,'//table[@class="wikitable sortable jquery-tablesorter"][1]/tbody/tr/td[3]')
for i in at:
    artist.append(i.text)

In [24]:
print(len(artist),artist)

30 ["Pinkfong Baby Shark - Kids' Songs & Stories", 'Luis Fonsi', "LooLoo Kids - Nursery Rhymes and Children's Songs", 'Cocomelon - Nursery Rhymes', 'Ed Sheeran', 'Wiz Khalifa', 'Cocomelon - Nursery Rhymes', 'ChuChu TV Nursery Rhymes & Kids Songs', 'Mark Ronson', 'Miroshka TV', 'officialpsy', 'Get Movies', 'Ultra Records', 'Crazy Frog', 'Maroon 5', 'OneRepublic', 'Katy Perry', 'Cocomelon - Nursery Rhymes', 'Shakira', 'Jingle Toons', 'Justin Bieber', 'Ed Sheeran', 'Kiddiestv Hindi - Nursery Rhymes & Kids Songs', 'Katy Perry', 'Ed Sheeran', 'Passenger', 'Alan Walker', 'T-Series Bhakti Sagar', 'Maroon 5', 'Major Lazer Official']

In [25]:
#getting views
views=[]
vt=driver.find_elements(By.XPATH,'//table[@class="wikitable sortable jquery-tablesorter"][1]/tbody/tr/td[4]')
for i in vt:
    views.append(i.text)

In [26]:
print(len(views),views)

30 ['13.65', '8.32', '6.84', '6.50', '6.14', '6.09', '5.71', '5.57', '5.09', '5.01', '4.96', '4.57', '4.48', '4.16', '3.97', '3.92', '3.91', '3.84', '3.78', '3.76', '3.74', '3.69', '3.63', '3.63', '3.60', '3.56', '3.55', '3.54', '3.52', '3.50']

In [27]:
#getting upload date
upload_date=[]
udt=driver.find_elements(By.XPATH,'//table[@class="wikitable sortable jquery-tablesorter"][1]/tbody/tr/td[5]')
for i in udt:
    upload_date.append(i.text)

In [28]:
print(len(upload_date),upload_date)

30 ['June 17, 2016', 'January 12, 2017', 'October 8, 2016', 'May 2, 2018', 'January 30, 2017', 'April 6, 2015', 'May 24, 2018', 'March 6, 2014', 'November 19, 2014', 'February 27, 2018', 'July 15, 2012', 'January 31, 2012', 'April 5, 2018', 'June 16, 2009', 'January 14, 2015', 'May 31, 2013', 'September 5, 2013', 'June 25, 2018', 'June 4, 2010', 'June 14, 2018', 'October 22, 2015', 'October 7, 2014', 'January 26, 2018', 'February 20, 2014', 'November 9, 2017', 'July 25, 2012', 'December 3, 2015', 'May 10, 2011', 'May 31, 2018', 'March 22, 2015']

In [30]:
#making dataframe
df1=pd.DataFrame({'Rank':rank,'Name':name,'Artist':artist,'Views':views,'Upload_date':upload_date})
df1

,Rank,Name,Artist,Views,Upload_date
0,1.,"""Baby Shark Dance""[6]",Pinkfong Baby Shark - Kids' Songs & Stories,13.65,"June 17, 2016"
1,2.,"""Despacito""[9]",Luis Fonsi,8.32,"January 12, 2017"
2,3.,"""Johny Johny Yes Papa""[17]",LooLoo Kids - Nursery Rhymes and Children's Songs,6.84,"October 8, 2016"
3,4.,"""Bath Song""[18]",Cocomelon - Nursery Rhymes,6.50,"May 2, 2018"
4,5.,"""Shape of You""[19]",Ed Sheeran,6.14,"January 30, 2017"
5,6.,"""See You Again""[22]",Wiz Khalifa,6.09,"April 6, 2015"
6,7.,"""Wheels on the Bus""[27]",Cocomelon - Nursery Rhymes,5.71,"May 24, 2018"
7,8.,"""Phonics Song with Two Words""[28]",ChuChu TV Nursery Rhymes & Kids Songs,5.57,"March 6, 2014"
8,9.,"""Uptown Funk""[29]",Mark Ronson,5.09,"November 19, 2014"
9,10.,"""Learning Colors – Colorful Eggs on a Farm""[30]",Miroshka TV,5.01,"February 27, 2018"
10,11.,"""Gangnam Style""[31]",officialpsy,4.96,"July 15, 2012"
11,12.,"""Masha and the Bear – Recipe for Disaster""[36]",Get Movies,4.57,"January 31, 2012"
12,13.,"""Dame Tu Cosita""[37]",Ultra Records,4.48,"April 5, 2018"
13,14.,"""Axel F""[38]",Crazy Frog,4.16,"June 16, 2009"
14,15.,"""Sugar""[39]",Maroon 5,3.97,"January 14, 2015"
15,16.,"""Counting Stars""[40]",OneRepublic,3.92,"May 31, 2013"
16,17.,"""Roar""[41]",Katy Perry,3.91,"September 5, 2013"
17,18.,"""Baa Baa Black Sheep""[42]",Cocomelon - Nursery Rhymes,3.84,"June 25, 2018"
18,19.,"""Waka Waka (This Time for Africa)""[43]",Shakira,3.78,"June 4, 2010"
19,20.,"""Lakdi Ki Kathi""[44]",Jingle Toons,3.76,"June 14, 2018"
20,21.,"""Sorry""[45]",Justin Bieber,3.74,"October 22, 2015"
21,22.,"""Thinking Out Loud""[46]",Ed Sheeran,3.69,"October 7, 2014"
22,23.,"""Humpty the train on a fruits ride""[47]",Kiddiestv Hindi - Nursery Rhymes & Kids Songs,3.63,"January 26, 2018"
23,24.,"""Dark Horse""[48]",Katy Perry,3.63,"February 20, 2014"
24,25.,"""Perfect""[49]",Ed Sheeran,3.60,"November 9, 2017"
25,26.,"""Let Her Go""[50]",Passenger,3.56,"July 25, 2012"
26,27.,"""Faded""[51]",Alan Walker,3.55,"December 3, 2015"
27,28.,"""Shree Hanuman Chalisa""[52]",T-Series Bhakti Sagar,3.54,"May 10, 2011"
28,29.,"""Girls Like You""[53]",Maroon 5,3.52,"May 31, 2018"
29,30.,"""Lean On""[54]",Major Lazer Official,3.50,"March 22, 2015"

In [31]:
driver.close()

# 2. Scrape the details team India’s international fixtures from bcci.tv. 
Url = https://www.bcci.tv/. 
You need to find following details: 
A) Series 
B) Place 
C) Date 
D) Time 
Note: - From bcci.tv home page you have reach to the international fixture page through code.

In [39]:
#getting driver
driver=webdriver.Chrome()

In [40]:
#getting url
driver.get('https://www.bcci.tv/')

In [41]:
driver.maximize_window()    ##Maximizing window

In [42]:
#clicking on fixtures
fixtures=driver.find_element(By.XPATH,'/html/body/header/div[3]/div[1]/ul/div[1]/a[2]')
fixtures.click()

In [44]:
##clicking on filter to India
filter=driver.find_elements(By.XPATH,'//div[@class="cSBListItems ng-binding ng-scope"]')
for i in filter:
    if i.text=='India':
        i.click()

In [50]:
#creating empty list to store desried data
series=[]
place=[]
date=[]
time=[]

In [65]:
#scrapping series
try:
    st=driver.find_elements(By.XPATH,'//span[@class="matchOrderText ng-binding ng-scope t20-tag"]')
    for i in st:
        series.append(i.text)
        
finally:
    extratags=driver.find_elements(By.XPATH,'//span[@class="matchOrderText ng-binding ng-scope odi-tag"]')
    for i in extratags:
        series.append(i.text)

In [66]:
print(len(series),series)

9 ['2nd T20I', '3rd T20I', '4th T20I', '5th T20I', '1st T20I', '2nd T20I', '3rd T20I', '1st ODI', '2nd ODI']

In [56]:
#scrapping place
placetag=driver.find_elements(By.XPATH,'//div[@class="match-place ng-scope"]')
for i in placetag:
    place.append(i.text)
    
print(len(place),place)

9 ['Greenfield International Stadium, Thiruvananthapuram', 'Barsapara Cricket Stadium, Guwahati', 'Shaheed Veer Narayan Singh International Cricket Stadium, Raipur', 'M Chinnaswamy Stadium, Bengaluru', 'Kingsmead, Durban', "St George's Park, Gqeberha", 'The Wanderers Stadium, Johannesburg', 'Johannesburg', "St George's Park, Gqeberha"]

In [60]:
#scrapping date
dtag=driver.find_elements(By.XPATH,'//div[@class="match-dates ng-binding"]')
for i in dtag:
    date.append(i.text)

In [61]:
print(len(date),date)

9 ['26 NOVEMBER, 2023', '28 NOVEMBER, 2023', '1 DECEMBER, 2023', '3 DECEMBER, 2023', '10 DECEMBER, 2023', '12 DECEMBER, 2023', '14 DECEMBER, 2023', '17 DECEMBER, 2023', '19 DECEMBER, 2023']

In [62]:
#scrapping time
ttag=driver.find_elements(By.XPATH,'//div[@class="match-time no-margin ng-binding"]')

for i in ttag:
    time.append(i.text)

In [63]:
print(len(time),time)

9 ['7:00 PM IST', '7:00 PM IST', '7:00 PM IST', '7:00 PM IST', '9:30 PM IST', '9:30 PM IST', '9:30 PM IST', '2:00 PM IST', '2:00 PM IST']

In [67]:
##making dataframe
df2=pd.DataFrame({'Series':series,'Place':place,'Date':date,'Time':time})
df2

,Series,Place,Date,Time
0,2nd T20I,"Greenfield International Stadium, Thiruvananth...","26 NOVEMBER, 2023",7:00 PM IST
1,3rd T20I,"Barsapara Cricket Stadium, Guwahati","28 NOVEMBER, 2023",7:00 PM IST
2,4th T20I,Shaheed Veer Narayan Singh International Crick...,"1 DECEMBER, 2023",7:00 PM IST
3,5th T20I,"M Chinnaswamy Stadium, Bengaluru","3 DECEMBER, 2023",7:00 PM IST
4,1st T20I,"Kingsmead, Durban","10 DECEMBER, 2023",9:30 PM IST
5,2nd T20I,"St George's Park, Gqeberha","12 DECEMBER, 2023",9:30 PM IST
6,3rd T20I,"The Wanderers Stadium, Johannesburg","14 DECEMBER, 2023",9:30 PM IST
7,1st ODI,Johannesburg,"17 DECEMBER, 2023",2:00 PM IST
8,2nd ODI,"St George's Park, Gqeberha","19 DECEMBER, 2023",2:00 PM IST

In [68]:
driver.close()

# 3. Scrape the details of State-wise GDP of India from statisticstime.com. 
Url = http://statisticstimes.com/ 
You have to find following details: A) Rank 
B) State 
C) GSDP(18-19)- at current prices 
D) GSDP(19-20)- at current prices 
E) Share(18-19) 
F) GDP($ billion) 
Note: - From statisticstimes home page you have to reach to economy page through code.

In [86]:
#getting driver
driver=webdriver.Chrome()

In [87]:
#getting url
driver.get('http://statisticstimes.com/')

In [88]:
driver.maximize_window()     ##maximizing window

In [91]:
##clicking on economy button
economy=driver.find_element(By.XPATH,'/html/body/div[2]/div[1]/div[2]/div[2]/button')
economy.click()
time.sleep(3)

In [92]:
India=driver.find_element(By.XPATH,'/html/body/div[2]/div[1]/div[2]/div[2]/div/a[3]')
India.click()

In [93]:
#clicking on Indian state gdp
gdp=driver.find_element(By.XPATH,'/html/body/div[2]/div[2]/div[2]/ul/li[1]/a')
gdp.click()

In [98]:
#creating empty list to store desired data
rank=[] 
state=[]
gdp_18_19=[] 
gdp_19_20=[]
share=[]
gdp=[]

In [115]:
#scrapping rank
ranktag=driver.find_elements(By.XPATH,'//table[@id="table_id"]/tbody/tr/td[1]')
for i in ranktag:
    rank.append(i.text)

In [116]:
print(len(rank),rank)

33 ['1', '2', '3', '4', '5', '6', '7', '8', '9', '10', '11', '12', '13', '14', '15', '16', '17', '18', '19', '20', '21', '22', '23', '24', '25', '26', '27', '28', '29', '30', '31', '32', '33']

In [120]:
#scrapping state
stag=driver.find_elements(By.XPATH,'//table[@id="table_id"]/tbody/tr/td[2]')
for i in stag:
    state.append(i.text)

In [121]:
print(len(state),state)

33 ['Maharashtra', 'Tamil Nadu', 'Uttar Pradesh', 'Gujarat', 'Karnataka', 'West Bengal', 'Rajasthan', 'Andhra Pradesh', 'Telangana', 'Madhya Pradesh', 'Kerala', 'Delhi', 'Haryana', 'Bihar', 'Punjab', 'Odisha', 'Assam', 'Chhattisgarh', 'Jharkhand', 'Uttarakhand', 'Jammu & Kashmir', 'Himachal Pradesh', 'Goa', 'Tripura', 'Chandigarh', 'Puducherry', 'Meghalaya', 'Sikkim', 'Manipur', 'Nagaland', 'Arunachal Pradesh', 'Mizoram', 'Andaman & Nicobar Islands']

In [101]:
#scrapping gdp_18_19
gtag=driver.find_elements(By.XPATH,'//table[@id="table_id"]/tbody/tr/td[3]')
for i in gtag:
    gdp_18_19.append(i.text)

In [102]:
print(len(gdp_18_19),gdp_18_19)

33 ['-', '1,845,853', '1,687,818', '-', '1,631,977', '1,253,832', '1,020,989', '972,782', '969,604', '906,672', '-', '856,112', '831,610', '611,804', '574,760', '521,275', '-', '329,180', '328,598', '-', '-', '165,472', '80,449', '55,984', '-', '38,253', '36,572', '32,496', '31,790', '-', '-', '26,503', '-']

In [104]:
#scrapping gdp_19_20
gdtag=driver.find_elements(By.XPATH,'//table[@id="table_id"]/tbody/tr/td[4]')
for i in gdtag:
    gdp_19_20.append(i.text)

In [105]:
print(len(gdp_19_20),gdp_19_20)

33 ['2,632,792', '1,630,208', '1,584,764', '1,502,899', '1,493,127', '1,089,898', '942,586', '862,957', '861,031', '809,592', '781,653', '774,870', '734,163', '530,363', '526,376', '487,805', '315,881', '304,063', '297,204', '245,895', '155,956', '153,845', '73,170', '49,845', '42,114', '34,433', '33,481', '28,723', '27,870', '27,283', '24,603', '22,287', '-']

In [106]:
#scrapping Share_18
sharetag=driver.find_elements(By.XPATH,'//table[@id="table_id"]/tbody/tr/td[5]')
for i in sharetag:
    share.append(i.text)

In [107]:
print(len(share),share)

33 ['13.94%', '8.63%', '8.39%', '7.96%', '7.91%', '5.77%', '4.99%', '4.57%', '4.56%', '4.29%', '4.14%', '4.10%', '3.89%', '2.81%', '2.79%', '2.58%', '1.67%', '1.61%', '1.57%', '1.30%', '0.83%', '0.81%', '0.39%', '0.26%', '0.22%', '0.18%', '0.18%', '0.15%', '0.15%', '0.14%', '0.13%', '0.12%', '-']

In [108]:
#scrapping gdp
gdptag=driver.find_elements(By.XPATH,'//table[@id="table_id"]/tbody/tr/td[6]')
for i in gdptag:
    gdp.append(i.text)

In [109]:
print(len(gdp),gdp)

33 ['399.921', '247.629', '240.726', '228.290', '226.806', '165.556', '143.179', '131.083', '130.791', '122.977', '118.733', '117.703', '111.519', '80.562', '79.957', '74.098', '47.982', '46.187', '45.145', '37.351', '23.690', '23.369', '11.115', '7.571', '6.397', '5.230', '5.086', '4.363', '4.233', '4.144', '3.737', '3.385', '-']

In [122]:
#making dataframe
df3=pd.DataFrame({"Rank":rank, 'State': state ,'GSDP(18-19)- at current prices':gdp_19_20, 'GSDP(19-20)- at current prices':gdp_18_19, 'Share(18-19)':share,'GDP($ billion)':gdp})
df3

,Rank,State,GSDP(18-19)- at current prices,GSDP(19-20)- at current prices,Share(18-19),GDP($ billion)
0,1,Maharashtra,"2,632,792",-,13.94%,399.921
1,2,Tamil Nadu,"1,630,208","1,845,853",8.63%,247.629
2,3,Uttar Pradesh,"1,584,764","1,687,818",8.39%,240.726
3,4,Gujarat,"1,502,899",-,7.96%,228.290
4,5,Karnataka,"1,493,127","1,631,977",7.91%,226.806
5,6,West Bengal,"1,089,898","1,253,832",5.77%,165.556
6,7,Rajasthan,"942,586","1,020,989",4.99%,143.179
7,8,Andhra Pradesh,"862,957","972,782",4.57%,131.083
8,9,Telangana,"861,031","969,604",4.56%,130.791
9,10,Madhya Pradesh,"809,592","906,672",4.29%,122.977
10,11,Kerala,"781,653",-,4.14%,118.733
11,12,Delhi,"774,870","856,112",4.10%,117.703
12,13,Haryana,"734,163","831,610",3.89%,111.519
13,14,Bihar,"530,363","611,804",2.81%,80.562
14,15,Punjab,"526,376","574,760",2.79%,79.957
15,16,Odisha,"487,805","521,275",2.58%,74.098
16,17,Assam,"315,881",-,1.67%,47.982
17,18,Chhattisgarh,"304,063","329,180",1.61%,46.187
18,19,Jharkhand,"297,204","328,598",1.57%,45.145
19,20,Uttarakhand,"245,895",-,1.30%,37.351
20,21,Jammu & Kashmir,"155,956",-,0.83%,23.690
21,22,Himachal Pradesh,"153,845","165,472",0.81%,23.369
22,23,Goa,"73,170","80,449",0.39%,11.115
23,24,Tripura,"49,845","55,984",0.26%,7.571
24,25,Chandigarh,"42,114",-,0.22%,6.397
25,26,Puducherry,"34,433","38,253",0.18%,5.230
26,27,Meghalaya,"33,481","36,572",0.18%,5.086
27,28,Sikkim,"28,723","32,496",0.15%,4.363
28,29,Manipur,"27,870","31,790",0.15%,4.233
29,30,Nagaland,"27,283",-,0.14%,4.144
30,31,Arunachal Pradesh,"24,603",-,0.13%,3.737
31,32,Mizoram,"22,287","26,503",0.12%,3.385
32,33,Andaman & Nicobar Islands,-,-,-,-

In [123]:
driver.close()

# 4. Scrape the details of trending repositories on Github.com. 
Url = https://github.com/ 
You have to find the following details: 
A) Repository title 
B) Repository description 
C) Contributors count 
D) Language used

In [97]:
#getting drver
driver=webdriver.Chrome()

In [98]:
#getting url
driver.get('https://github.com/')

In [99]:
driver.maximize_window()   ###maximizing window

In [100]:
##clicking on opensources
try:
    os=driver.find_element(By.XPATH,'/html/body/div[1]/div[1]/header/div/div[2]/div/nav/ul/li[3]/button')
    os.click()
except e :
    element=driver.find_element(By.XPATH,'//li[@class="HeaderMenu-item position-relative flex-wrap flex-justify-between flex-items-center d-block d-lg-flex flex-lg-nowrap flex-lg-items-center js-details-container js-header-menu-item"][3]')
    element.click()
    time.sleep(25)

In [101]:
#clicking on trending option
trending=driver.find_element(By.XPATH,'/html/body/div[1]/div[1]/header/div/div[2]/div/nav/ul/li[3]/div/div[3]/ul/li[2]/a')
trending.click()

In [102]:
##extarcting desrired data
title=[]
description=[]
count=[]
language=[]
url=[]

In [103]:
#scarpping url of each repository
urltag=driver.find_elements(By.XPATH,'//h2[@class="h3 lh-condensed"]/a')
for i in urltag:
    url.append(i.get_attribute("href"))

In [104]:
print(len(url),url)

25 ['https://github.com/LouisShark/chatgpt_system_prompt', 'https://github.com/run-llama/rags', 'https://github.com/linexjlin/GPTs', 'https://github.com/1Panel-dev/1Panel', 'https://github.com/GrowingGit/GitHub-Chinese-Top-Charts', 'https://github.com/atomicals/atomicals-js', 'https://github.com/opa334/TrollStore', 'https://github.com/jordan-cutler/path-to-senior-engineer-handbook', 'https://github.com/BurntSushi/ripgrep', 'https://github.com/bgstaal/multipleWindow3dScene', 'https://github.com/Ftindy/IPTV-URL', 'https://github.com/yairm210/Unciv', 'https://github.com/pointfreeco/swift-composable-architecture', 'https://github.com/microsoft/AI-For-Beginners', 'https://github.com/spring-projects/spring-boot', 'https://github.com/biomejs/biome', 'https://github.com/udlbook/udlbook', 'https://github.com/nlohmann/json', 'https://github.com/Ma-Lab-Berkeley/CRATE', 'https://github.com/ShinoKana/multipleWindow3dScene', 'https://github.com/goniszewski/grimoire', 'https://github.com/zennomi/Seg-Mirror', 'https://github.com/googleapis/google-api-php-client', 'https://github.com/grpc-ecosystem/grpc-gateway', 'https://github.com/kamranahmedse/developer-roadmap']

In [105]:
#extracting title tag
titletag=driver.find_elements(By.XPATH,'//h2[@class="h3 lh-condensed"]/a')
for i in titletag:
    title.append(i.text)

In [106]:
print(len(title),title)

25 ['LouisShark / chatgpt_system_prompt', 'run-llama / rags', 'linexjlin / GPTs', '1Panel-dev / 1Panel', 'GrowingGit / GitHub-Chinese-Top-Charts', 'atomicals / atomicals-js', 'opa334 / TrollStore', 'jordan-cutler / path-to-senior-engineer-handbook', 'BurntSushi / ripgrep', 'bgstaal / multipleWindow3dScene', 'Ftindy / IPTV-URL', 'yairm210 / Unciv', 'pointfreeco / swift-composable-architecture', 'microsoft / AI-For-Beginners', 'spring-projects / spring-boot', 'biomejs / biome', 'udlbook / udlbook', 'nlohmann / json', 'Ma-Lab-Berkeley / CRATE', 'ShinoKana / multipleWindow3dScene', 'goniszewski / grimoire', 'zennomi / Seg-Mirror', 'googleapis / google-api-php-client', 'grpc-ecosystem / grpc-gateway', 'kamranahmedse / developer-roadmap']

In [118]:
#extracting description
dtag=driver.find_elements(By.XPATH,'//p[@class="col-9 color-fg-muted my-1 pr-4"]')
for i in dtag:
    if i.text is None:
        description.append('--')
    else:
            description.append(i.text)

In [119]:
print(len(description),description)

24 ["store all agent's system prompt", 'Build ChatGPT over your data, all with natural language', 'leaked prompts of GPTs', '🔥 🔥 🔥 现代化、开源的 Linux 服务器运维管理面板。', '🇨🇳 GitHub中文排行榜，各语言分设「软件 | 资料」榜单，精准定位中文好项目。各取所需，高效学习。', 'Atomicals CLI and Javascript Library', 'Jailed iOS app that can install IPAs permanently with arbitary entitlements and root helpers because it trolls Apple', 'All the resources you need to get to Senior Engineer and beyond', 'ripgrep recursively searches directories for a regex pattern while respecting your gitignore', 'A quick example of how one can "synchronize" a 3d scene across multiple windows using three.js and localStorage', 'Open-source Android/Desktop remake of Civ V', 'A library for building applications in a consistent and understandable way, with composition, testing, and ergonomics in mind.', '12 Weeks, 24 Lessons, AI for All!', 'Spring Boot', 'A toolchain for web projects, aimed to provide functionalities to maintain them. Biome offers formatter and linter, usable via CLI and LSP.', 'Understanding Deep Learning - Simon J.D. Prince', 'JSON for Modern C++', 'Code for CRATE (Coding RAte reduction TransformEr).', 'based on bgstaal/multipleWindow3dScene', 'Bookmark manager for the wizards 🧙', 'Kính chiếu yêuuuu quỷ seg hiện raaa', 'A PHP client library for accessing Google APIs', 'gRPC to JSON proxy generator following the gRPC HTTP spec', 'Interactive roadmaps, guides and other educational content to help developers grow in their careers.']

In [ ]:
description.append('-')

In [117]:
description.clear()

In [120]:
from selenium.common.exceptions import NoSuchElementException as nse
#extracting language

ltag=driver.find_elements(By.XPATH,'//span[@itemprop="programmingLanguage"]')
for i in ltag:
    if i.text==None:
            language.append('--')
    else:
            language.append(i.text)

In [121]:
print(len(language),language)

22 ['C', 'Python', 'Go', 'Java', 'TypeScript', 'C', 'Rust', 'JavaScript', 'Kotlin', 'Swift', 'Jupyter Notebook', 'Java', 'Rust', 'Jupyter Notebook', 'C++', 'Python', 'JavaScript', 'Svelte', 'JavaScript', 'PHP', 'Go', 'TypeScript']

In [122]:
language.extend(['-','-','-'])

In [123]:
print(len(language),language)

25 ['C', 'Python', 'Go', 'Java', 'TypeScript', 'C', 'Rust', 'JavaScript', 'Kotlin', 'Swift', 'Jupyter Notebook', 'Java', 'Rust', 'Jupyter Notebook', 'C++', 'Python', 'JavaScript', 'Svelte', 'JavaScript', 'PHP', 'Go', 'TypeScript', '-', '-', '-']

In [124]:
from selenium.common.exceptions import NoSuchElementException as nse
#extracting contributors count

for page in url:
    driver.get(page)
    try:
        ctag=driver.find_element(By.XPATH,'//div[@class="BorderGrid-row"][5]/div/h2/a/span')

        count.append(ctag.text)
    
    except nse:
        count.append('--')

In [125]:
print(len(count),count)

25 ['4', '5', '3', '38', '--', '11', '22', '9', '--', '2', '2', '464', '--', '33', '1,039', '960', '5', '264', '5', '--', '3', '--', '153', '345', '--']

In [88]:
print(len(title),len(description),len(count),len(language))

0 0 0 25

In [87]:
##making dataframe
df4=pd.DataFrame({'Repository title':title , 'Repository description':description ,'Contributors count':count[:25] , 'Language used':language })
df4

ValueError: All arrays must be of the same length

# 5. Scrape the details of top 100 songs on billiboard.com. Url = https:/www.billboard.com/ You have to find the 
following details: 
A) Song name 
B) Artist name 
C) Last week rank 
D) Peak rank 
E) Weeks on board 
 Note: - From the home page you have to click on the charts option then hot 100-page link through code.

In [23]:
#getting driver
driver=webdriver.Chrome()

In [24]:
#getting url
driver.get('http://www.billboard.com/')

In [25]:
driver.maximize_window()    ###maximizing window

In [31]:
#clicking on charts option
chart=driver.find_element(By.XPATH,'/html/body/div[3]/div[9]/div/div/div/ul/li[1]/h3')
chart.click()
time.sleep(25)

In [35]:
#clicking on billboard
bill=driver.find_element(By.XPATH,'/html/body/div[3]/div[9]/div/div/div/ul/li[1]/ul/li[2]/a')
bill.click()

In [36]:
##creating empty list to store data
song=[]
artist=[]
week_rank=[]
peek_rank=[]
weeks=[]

In [37]:
#extracting song name
songtag=driver.find_elements(By.XPATH,'//div[@class="o-chart-results-list-row-container"]/ul/li[4]/ul/li[1]/h3')
for i in songtag:
    song.append(i.text)

In [38]:
print(len(song),song)

100 ['Cruel Summer', 'Lovin On Me', 'Paint The Town Red', 'Snooze', "Is It Over Now? (Taylor's Version) [From The Vault]", 'I Remember Everything', 'Fast Car', 'Greedy', 'Last Night', "Thinkin' Bout Me", 'Houdini', 'White Horse', 'Need A Favor', 'Agora Hills', 'Water', 'Rich Baby Daddy', 'All I Want For Christmas Is You', 'Fukumean', 'Save Me', 'Dance The Night', 'Vampire', 'Used To Be Young', 'Lil Boo Thang', 'Monaco', 'First Person Shooter', 'IDGAF', 'What Was I Made For?', 'Good Good', 'Flowers', 'My Love Mine All Mine', 'Stick Season', 'Last Christmas', "Now That We Don't Talk (Taylor's Version) [From The Vault]", 'Dial Drunk', 'What It Is (Block Boy)', 'Kill Bill', 'Northern Attitude', 'Jingle Bell Rock', 'Lose Control', 'Harley Quinn', 'Daylight', 'I Know ?', 'Wild Ones', 'A Holly Jolly Christmas', 'Barbie World', 'Pretty Little Poison', 'World On Fire', 'On My Mama', "Slut! (Taylor's Version) [From The Vault]", 'Standing Next To You', '500lbs', 'Strangers', "Say Don't Go (Taylor's Version) [From The Vault]", 'Bad Idea Right?', 'Great Gatsby', 'Get Him Back!', "Can't Have Mine", 'Virginia Beach', 'Everything I Love', 'Standing Room Only', 'Try That In A Small Town', 'The Painter', 'Cobra', 'Truck Bed', 'Qlona', 'Too Much', 'Perro Negro', 'Hey Driver', "Style (Taylor's Version)", 'Rich Men North Of Richmond', 'Meltdown', 'Bongos', 'Slime You Out', 'Segun Quien', 'Que Onda', 'Now And Then', 'Single Soon', 'Burn It Down', 'LaLa', "Bad Blood (Taylor's Version)", "Can't Catch Me Now", 'Turks & Caicos', 'SkeeYee', '3D', "Out Of The Woods (Taylor's Version)", "Wildest Dreams (Taylor's Version)", 'El Amor de Su Vida', 'Save Me The Trouble', 'Stars Like Confetti', 'LALALALA', 'Seven', "Suburban Legends (Taylor's Version) [From The Vault]", "Blank Space (Taylor's Version)", "We Don't Fight Anymore", 'Smurk Carter', 'Mi Ex Tenia Razon', "Different 'Round Here", 'But I Got A Beer In My Hand', 'Better Than Ever', 'Soak City (Do It)']

In [39]:
#extracting artist name
atag=driver.find_elements(By.XPATH,'//div[@class="o-chart-results-list-row-container"]/ul/li[4]/ul/li[1]/span')
for i in atag:
    artist.append(i.text)

In [40]:
print(len(artist),artist)

100 ['Taylor Swift', 'Jack Harlow', 'Doja Cat', 'SZA', 'Taylor Swift', 'Zach Bryan Featuring Kacey Musgraves', 'Luke Combs', 'Tate McRae', 'Morgan Wallen', 'Morgan Wallen', 'Dua Lipa', 'Chris Stapleton', 'Jelly Roll', 'Doja Cat', 'Tyla', 'Drake Featuring Sexyy Red & SZA', 'Mariah Carey', 'Gunna', 'Jelly Roll With Lainey Wilson', 'Dua Lipa', 'Olivia Rodrigo', 'Miley Cyrus', 'Paul Russell', 'Bad Bunny', 'Drake Featuring J. Cole', 'Drake Featuring Yeat', 'Billie Eilish', 'Usher, Summer Walker & 21 Savage', 'Miley Cyrus', 'Mitski', 'Noah Kahan', 'Wham!', 'Taylor Swift', 'Noah Kahan With Post Malone', 'Doechii Featuring Kodak Black', 'SZA', 'Noah Kahan With Hozier', 'Bobby Helms', 'Teddy Swims', 'Fuerza Regida & Marshmello', 'David Kushner', 'Travis Scott', 'Jessie Murph & Jelly Roll', 'Burl Ives', 'Nicki Minaj & Ice Spice With Aqua', 'Warren Zeiders', 'Nate Smith', 'Victoria Monet', 'Taylor Swift', 'Jung Kook', 'Lil Tecca', 'Kenya Grace', 'Taylor Swift', 'Olivia Rodrigo', 'Rod Wave', 'Olivia Rodrigo', 'Dylan Scott', 'Drake', 'Morgan Wallen', 'Tim McGraw', 'Jason Aldean', 'Cody Johnson', 'Megan Thee Stallion', 'HARDY', 'Karol G & Peso Pluma', 'The Kid LAROI, Jung Kook & Central Cee', 'Bad Bunny & Feid', 'Zach Bryan Featuring The War And Treaty', 'Taylor Swift', 'Oliver Anthony Music', 'Travis Scott Featuring Drake', 'Cardi B & Megan Thee Stallion', 'Drake Featuring SZA', 'Maluma & Carin Leon', 'Calle 24 x Chino Pacas x Fuerza Regida', 'The Beatles', 'Selena Gomez', 'Parker McCollum', 'Myke Towers', 'Taylor Swift', 'Olivia Rodrigo', 'Rod Wave Featuring 21 Savage', 'Sexyy Red', 'Jung Kook & Jack Harlow', 'Taylor Swift', 'Taylor Swift', 'Grupo Frontera & Grupo Firme', 'Dan + Shay', 'Dustin Lynch', 'Stray Kids', 'Jung Kook Featuring Latto', 'Taylor Swift', 'Taylor Swift', 'Carly Pearce Featuring Chris Stapleton', 'Lil Durk', 'Karol G', 'Riley Green Featuring Luke Combs', 'Luke Bryan', 'YoungBoy Never Broke Again & Rod Wave', '310babii']

In [45]:
#extracting week rank
weekranktag=driver.find_elements(By.XPATH,'//li[@class="o-chart-results-list__item // a-chart-color u-width-72 u-width-55@mobile-max u-width-55@tablet-only lrv-u-flex lrv-u-flex-shrink-0 lrv-u-align-items-center lrv-u-justify-content-center lrv-u-border-b-1 u-border-b-0@mobile-max lrv-u-border-color-grey-light u-background-color-white-064@mobile-max u-hidden@mobile-max"][1]/span')
for i in weekranktag:
    week_rank.append(i.text)

In [46]:
print(len(week_rank),week_rank)

100 ['1', '-', '2', '4', '3', '6', '8', '11', '10', '9', '-', '29', '15', '20', '18', '14', '-', '13', '22', '16', '17', '25', '27', '19', '24', '21', '28', '30', '23', '33', '37', '-', '12', '35', '34', '38', '-', '-', '43', '44', '36', '40', '42', '-', '39', '46', '48', '51', '31', '5', '55', '53', '26', '41', '62', '60', '67', '54', '69', '86', '52', '61', '32', '74', '66', '94', '57', '76', '45', '71', '75', '64', '70', '79', '78', '7', '63', '80', '82', '47', '56', '90', '84', '58', '73', '72', '88', '95', '81', '-', '49', '50', '59', '99', '-', '91', '-', '98', '-', '-']

In [47]:
#extracting week 
weektag=driver.find_elements(By.XPATH,'//li[@class="o-chart-results-list__item // a-chart-color u-width-72 u-width-55@mobile-max u-width-55@tablet-only lrv-u-flex lrv-u-flex-shrink-0 lrv-u-align-items-center lrv-u-justify-content-center lrv-u-border-b-1 u-border-b-0@mobile-max lrv-u-border-color-grey-light u-background-color-white-064@mobile-max u-hidden@mobile-max"][2]/span')
for i in weektag:
    weeks.append(i.text)

In [48]:
print(len(weeks),weeks)

100 ['28', '1', '15', '49', '3', '12', '34', '9', '42', '37', '1', '17', '33', '8', '7', '6', '59', '22', '22', '25', '20', '12', '9', '5', '6', '6', '18', '14', '44', '8', '7', '32', '3', '22', '28', '49', '1', '50', '14', '2', '31', '16', '6', '33', '21', '10', '3', '9', '3', '2', '8', '9', '3', '14', '9', '10', '7', '6', '38', '10', '18', '6', '2', '22', '14', '4', '5', '12', '3', '14', '16', '10', '9', '7', '7', '2', '12', '4', '19', '3', '2', '9', '11', '7', '3', '4', '12', '3', '6', '1', '15', '3', '3', '2', '1', '13', '1', '5', '1', '1']

In [50]:
#extracting peak week
ptag=driver.find_elements(By.XPATH,'//li[@class="o-chart-results-list__item // a-chart-bg-color a-chart-color u-width-72 u-width-55@mobile-max u-width-55@tablet-only lrv-u-flex lrv-u-flex-shrink-0 lrv-u-align-items-center lrv-u-justify-content-center lrv-u-background-color-grey-lightest lrv-u-border-b-1 u-border-b-0@mobile-max lrv-u-border-color-grey-light u-hidden@mobile-max"][2]/span')
for i in ptag:
    peek_rank.append(i.text)

In [51]:
print(len(peek_rank),peek_rank)

100 ['1', '2', '1', '2', '1', '1', '2', '8', '1', '7', '11', '12', '13', '14', '15', '11', '1', '4', '19', '6', '1', '8', '23', '5', '1', '2', '14', '25', '1', '26', '31', '4', '2', '25', '29', '1', '37', '3', '39', '40', '33', '11', '42', '4', '7', '46', '47', '48', '3', '5', '51', '52', '5', '7', '30', '11', '57', '3', '14', '60', '1', '55', '32', '55', '28', '44', '20', '14', '9', '1', '3', '14', '1', '68', '61', '7', '19', '77', '43', '7', '56', '24', '62', '5', '16', '19', '68', '84', '81', '90', '1', '10', '12', '94', '95', '22', '97', '92', '99', '100']

In [52]:
##making dataframe
df5=pd.DataFrame({'Song name':song , 'Artist name':artist,'Last week rank':week_rank,'Peak rank':peek_rank,'Weeks on board':weeks})
df5

,Song name,Artist name,Last week rank,Peak rank,Weeks on board
0,Cruel Summer,Taylor Swift,1,1,28
1,Lovin On Me,Jack Harlow,-,2,1
2,Paint The Town Red,Doja Cat,2,1,15
3,Snooze,SZA,4,2,49
4,Is It Over Now? (Taylor's Version) [From The V...,Taylor Swift,3,1,3
...,...,...,...,...,...
95,Mi Ex Tenia Razon,Karol G,91,22,13
96,Different 'Round Here,Riley Green Featuring Luke Combs,-,97,1
97,But I Got A Beer In My Hand,Luke Bryan,98,92,5
98,Better Than Ever,YoungBoy Never Broke Again & Rod Wave,-,99,1
99,Soak City (Do It),310babii,-,100,1

In [53]:
driver.close()

# 6. Scrape the details of Highest selling novels. 
A) Book name 
B) Author name 
C) Volumes sold 
D) Publisher 
E) Genre 
 Url - https://www.theguardian.com/news/datablog/2012/aug/09/best-selling-books-all-time-fifty-shades-grey-compare

In [54]:
#getting driver
driver=webdriver.Chrome()

In [55]:
driver.get('https://www.theguardian.com/news/datablog/2012/aug/09/best-selling-books-all-time-fifty-shades-grey-compare')

In [56]:
driver.maximize_window()     ##maximizing window

In [57]:
##creating empty list to store data
book=[]
author=[]
sold=[]
publisher=[]
genre=[]

In [58]:
###extracting book name
bt=driver.find_elements(By.XPATH,'//table[@class="in-article sortable"]//tbody/tr/td[2]')
for i in bt:
    book.append(i.text)

In [59]:
print(len(book),book)

100 ['Da Vinci Code,The', 'Harry Potter and the Deathly Hallows', "Harry Potter and the Philosopher's Stone", 'Harry Potter and the Order of the Phoenix', 'Fifty Shades of Grey', 'Harry Potter and the Goblet of Fire', 'Harry Potter and the Chamber of Secrets', 'Harry Potter and the Prisoner of Azkaban', 'Angels and Demons', "Harry Potter and the Half-blood Prince:Children's Edition", 'Fifty Shades Darker', 'Twilight', 'Girl with the Dragon Tattoo,The:Millennium Trilogy', 'Fifty Shades Freed', 'Lost Symbol,The', 'New Moon', 'Deception Point', 'Eclipse', 'Lovely Bones,The', 'Curious Incident of the Dog in the Night-time,The', 'Digital Fortress', 'Short History of Nearly Everything,A', 'Girl Who Played with Fire,The:Millennium Trilogy', 'Breaking Dawn', 'Very Hungry Caterpillar,The:The Very Hungry Caterpillar', 'Gruffalo,The', "Jamie's 30-Minute Meals", 'Kite Runner,The', 'One Day', 'Thousand Splendid Suns,A', "Girl Who Kicked the Hornets' Nest,The:Millennium Trilogy", "Time Traveler's Wife,The", 'Atonement', "Bridget Jones's Diary:A Novel", 'World According to Clarkson,The', "Captain Corelli's Mandolin", 'Sound of Laughter,The', 'Life of Pi', 'Billy Connolly', 'Child Called It,A', "Gruffalo's Child,The", "Angela's Ashes:A Memoir of a Childhood", 'Birdsong', 'Northern Lights:His Dark Materials S.', 'Labyrinth', 'Harry Potter and the Half-blood Prince', 'Help,The', 'Man and Boy', 'Memoirs of a Geisha', "No.1 Ladies' Detective Agency,The:No.1 Ladies' Detective Agency S.", 'Island,The', 'PS, I Love You', 'You are What You Eat:The Plan That Will Change Your Life', 'Shadow of the Wind,The', 'Tales of Beedle the Bard,The', 'Broker,The', "Dr. Atkins' New Diet Revolution:The No-hunger, Luxurious Weight Loss P", 'Subtle Knife,The:His Dark Materials S.', 'Eats, Shoots and Leaves:The Zero Tolerance Approach to Punctuation', "Delia's How to Cook:(Bk.1)", 'Chocolat', 'Boy in the Striped Pyjamas,The', "My Sister's Keeper", 'Amber Spyglass,The:His Dark Materials S.', 'To Kill a Mockingbird', 'Men are from Mars, Women are from Venus:A Practical Guide for Improvin', 'Dear Fatty', 'Short History of Tractors in Ukrainian,A', 'Hannibal', 'Lord of the Rings,The', 'Stupid White Men:...and Other Sorry Excuses for the State of the Natio', 'Interpretation of Murder,The', 'Sharon Osbourne Extreme:My Autobiography', 'Alchemist,The:A Fable About Following Your Dream', "At My Mother's Knee ...:and Other Low Joints", 'Notes from a Small Island', 'Return of the Naked Chef,The', 'Bridget Jones: The Edge of Reason', "Jamie's Italy", 'I Can Make You Thin', 'Down Under', 'Summons,The', 'Small Island', 'Nigella Express', 'Brick Lane', "Memory Keeper's Daughter,The", 'Room on the Broom', 'About a Boy', 'My Booky Wook', 'God Delusion,The', '"Beano" Annual,The', 'White Teeth', 'House at Riverton,The', 'Book Thief,The', 'Nights of Rain and Stars', 'Ghost,The', 'Happy Days with the Naked Chef', 'Hunger Games,The:Hunger Games Trilogy', "Lost Boy,The:A Foster Child's Search for the Love of a Family", "Jamie's Ministry of Food:Anyone Can Learn to Cook in 24 Hours"]

In [61]:
###extracting author name
at=driver.find_elements(By.XPATH,'//table[@class="in-article sortable"]//tbody/tr/td[3]')
for i in at:
    author.append(i.text)

In [62]:
print(len(author),author)

100 ['Brown, Dan', 'Rowling, J.K.', 'Rowling, J.K.', 'Rowling, J.K.', 'James, E. L.', 'Rowling, J.K.', 'Rowling, J.K.', 'Rowling, J.K.', 'Brown, Dan', 'Rowling, J.K.', 'James, E. L.', 'Meyer, Stephenie', 'Larsson, Stieg', 'James, E. L.', 'Brown, Dan', 'Meyer, Stephenie', 'Brown, Dan', 'Meyer, Stephenie', 'Sebold, Alice', 'Haddon, Mark', 'Brown, Dan', 'Bryson, Bill', 'Larsson, Stieg', 'Meyer, Stephenie', 'Carle, Eric', 'Donaldson, Julia', 'Oliver, Jamie', 'Hosseini, Khaled', 'Nicholls, David', 'Hosseini, Khaled', 'Larsson, Stieg', 'Niffenegger, Audrey', 'McEwan, Ian', 'Fielding, Helen', 'Clarkson, Jeremy', 'Bernieres, Louis de', 'Kay, Peter', 'Martel, Yann', 'Stephenson, Pamela', 'Pelzer, Dave', 'Donaldson, Julia', 'McCourt, Frank', 'Faulks, Sebastian', 'Pullman, Philip', 'Mosse, Kate', 'Rowling, J.K.', 'Stockett, Kathryn', 'Parsons, Tony', 'Golden, Arthur', 'McCall Smith, Alexander', 'Hislop, Victoria', 'Ahern, Cecelia', 'McKeith, Gillian', 'Zafon, Carlos Ruiz', 'Rowling, J.K.', 'Grisham, John', 'Atkins, Robert C.', 'Pullman, Philip', 'Truss, Lynne', 'Smith, Delia', 'Harris, Joanne', 'Boyne, John', 'Picoult, Jodi', 'Pullman, Philip', 'Lee, Harper', 'Gray, John', 'French, Dawn', 'Lewycka, Marina', 'Harris, Thomas', 'Tolkien, J. R. R.', 'Moore, Michael', 'Rubenfeld, Jed', 'Osbourne, Sharon', 'Coelho, Paulo', "O'Grady, Paul", 'Bryson, Bill', 'Oliver, Jamie', 'Fielding, Helen', 'Oliver, Jamie', 'McKenna, Paul', 'Bryson, Bill', 'Grisham, John', 'Levy, Andrea', 'Lawson, Nigella', 'Ali, Monica', 'Edwards, Kim', 'Donaldson, Julia', 'Hornby, Nick', 'Brand, Russell', 'Dawkins, Richard', '0', 'Smith, Zadie', 'Morton, Kate', 'Zusak, Markus', 'Binchy, Maeve', 'Harris, Robert', 'Oliver, Jamie', 'Collins, Suzanne', 'Pelzer, Dave', 'Oliver, Jamie']

In [63]:
###extracting book sold
st=driver.find_elements(By.XPATH,'//table[@class="in-article sortable"]//tbody/tr/td[4]')
for i in st:
    sold.append(i.text)

In [64]:
print(len(sold),sold)

100 ['5,094,805', '4,475,152', '4,200,654', '4,179,479', '3,758,936', '3,583,215', '3,484,047', '3,377,906', '3,193,946', '2,950,264', '2,479,784', '2,315,405', '2,233,570', '2,193,928', '2,183,031', '2,152,737', '2,062,145', '2,052,876', '2,005,598', '1,979,552', '1,928,900', '1,852,919', '1,814,784', '1,787,118', '1,783,535', '1,781,269', '1,743,266', '1,629,119', '1,616,068', '1,583,992', '1,555,135', '1,546,886', '1,539,428', '1,508,205', '1,489,403', '1,352,318', '1,310,207', '1,310,176', '1,231,957', '1,217,712', '1,208,711', '1,204,058', '1,184,967', '1,181,503', '1,181,093', '1,153,181', '1,132,336', '1,130,802', '1,126,337', '1,115,549', '1,108,328', '1,107,379', '1,104,403', '1,092,349', '1,090,847', '1,087,262', '1,054,196', '1,037,160', '1,023,688', '1,015,956', '1,009,873', '1,004,414', '1,003,780', '1,002,314', '998,213', '992,846', '986,753', '986,115', '970,509', '967,466', '963,353', '962,515', '959,496', '956,114', '945,640', '931,312', '925,425', '924,695', '906,968', '905,086', '890,847', '869,671', '869,659', '862,602', '856,540', '845,858', '842,535', '828,215', '820,563', '816,907', '816,585', '815,586', '814,370', '809,641', '808,900', '807,311', '794,201', '792,187', '791,507', '791,095']

In [65]:
###extracting publisher
pt=driver.find_elements(By.XPATH,'//table[@class="in-article sortable"]//tbody/tr/td[5]')
for i in pt:
    publisher.append(i.text)

In [66]:
print(len(publisher),publisher)

100 ['Transworld', 'Bloomsbury', 'Bloomsbury', 'Bloomsbury', 'Random House', 'Bloomsbury', 'Bloomsbury', 'Bloomsbury', 'Transworld', 'Bloomsbury', 'Random House', 'Little, Brown Book', 'Quercus', 'Random House', 'Transworld', 'Little, Brown Book', 'Transworld', 'Little, Brown Book', 'Pan Macmillan', 'Random House', 'Transworld', 'Transworld', 'Quercus', 'Little, Brown Book', 'Penguin', 'Pan Macmillan', 'Penguin', 'Bloomsbury', 'Hodder & Stoughton', 'Bloomsbury', 'Quercus', 'Random House', 'Random House', 'Pan Macmillan', 'Penguin', 'Random House', 'Random House', 'Canongate', 'HarperCollins', 'Orion', 'Pan Macmillan', 'HarperCollins', 'Random House', 'Scholastic Ltd.', 'Orion', 'Bloomsbury', 'Penguin', 'HarperCollins', 'Random House', 'Little, Brown Book', 'Headline', 'HarperCollins', 'Penguin', 'Orion', 'Bloomsbury', 'Random House', 'Random House', 'Scholastic Ltd.', 'Profile Books Group', 'Random House', 'Transworld', 'Random House Childrens Books G', 'Hodder & Stoughton', 'Scholastic Ltd.', 'Random House', 'HarperCollins', 'Random House', 'Penguin', 'Random House', 'HarperCollins', 'Penguin', 'Headline', 'Little, Brown Book', 'HarperCollins', 'Transworld', 'Transworld', 'Penguin', 'Pan Macmillan', 'Penguin', 'Transworld', 'Transworld', 'Random House', 'Headline', 'Random House', 'Transworld', 'Penguin', 'Pan Macmillan', 'Penguin', 'Hodder & Stoughton', 'Transworld', 'D.C. Thomson', 'Penguin', 'Pan Macmillan', 'Transworld', 'Orion', 'Random House', 'Penguin', 'Scholastic Ltd.', 'Orion', 'Penguin']

In [67]:
###extracting genre
gt=driver.find_elements(By.XPATH,'//table[@class="in-article sortable"]//tbody/tr/td[6]')
for i in gt:
    genre.append(i.text)

In [68]:
print(len(genre),genre)

100 ['Crime, Thriller & Adventure', "Children's Fiction", "Children's Fiction", "Children's Fiction", 'Romance & Sagas', "Children's Fiction", "Children's Fiction", "Children's Fiction", 'Crime, Thriller & Adventure', "Children's Fiction", 'Romance & Sagas', 'Young Adult Fiction', 'Crime, Thriller & Adventure', 'Romance & Sagas', 'Crime, Thriller & Adventure', 'Young Adult Fiction', 'Crime, Thriller & Adventure', 'Young Adult Fiction', 'General & Literary Fiction', 'General & Literary Fiction', 'Crime, Thriller & Adventure', 'Popular Science', 'Crime, Thriller & Adventure', 'Young Adult Fiction', 'Picture Books', 'Picture Books', 'Food & Drink: General', 'General & Literary Fiction', 'General & Literary Fiction', 'General & Literary Fiction', 'Crime, Thriller & Adventure', 'General & Literary Fiction', 'General & Literary Fiction', 'General & Literary Fiction', 'Humour: Collections & General', 'General & Literary Fiction', 'Autobiography: General', 'General & Literary Fiction', 'Biography: The Arts', 'Autobiography: General', 'Picture Books', 'Autobiography: General', 'General & Literary Fiction', 'Young Adult Fiction', 'General & Literary Fiction', 'Science Fiction & Fantasy', 'General & Literary Fiction', 'General & Literary Fiction', 'General & Literary Fiction', 'Crime, Thriller & Adventure', 'General & Literary Fiction', 'General & Literary Fiction', 'Fitness & Diet', 'General & Literary Fiction', "Children's Fiction", 'Crime, Thriller & Adventure', 'Fitness & Diet', 'Young Adult Fiction', 'Usage & Writing Guides', 'Food & Drink: General', 'General & Literary Fiction', 'Young Adult Fiction', 'General & Literary Fiction', 'Young Adult Fiction', 'General & Literary Fiction', 'Popular Culture & Media: General Interest', 'Autobiography: The Arts', 'General & Literary Fiction', 'Crime, Thriller & Adventure', 'Science Fiction & Fantasy', 'Current Affairs & Issues', 'Crime, Thriller & Adventure', 'Autobiography: The Arts', 'General & Literary Fiction', 'Autobiography: The Arts', 'Travel Writing', 'Food & Drink: General', 'General & Literary Fiction', 'National & Regional Cuisine', 'Fitness & Diet', 'Travel Writing', 'Crime, Thriller & Adventure', 'General & Literary Fiction', 'Food & Drink: General', 'General & Literary Fiction', 'General & Literary Fiction', 'Picture Books', 'General & Literary Fiction', 'Autobiography: The Arts', 'Popular Science', "Children's Annuals", 'General & Literary Fiction', 'General & Literary Fiction', 'General & Literary Fiction', 'General & Literary Fiction', 'General & Literary Fiction', 'Food & Drink: General', 'Young Adult Fiction', 'Biography: General', 'Food & Drink: General']

In [69]:
##making dataframe
df6=pd.DataFrame({'Book name':book, 'Author name':author,'Volumes sold':sold ,'Publisher':publisher, 'Genre':genre})
df6

,Book name,Author name,Volumes sold,Publisher,Genre
0,"Da Vinci Code,The","Brown, Dan","5,094,805",Transworld,"Crime, Thriller & Adventure"
1,Harry Potter and the Deathly Hallows,"Rowling, J.K.","4,475,152",Bloomsbury,Children's Fiction
2,Harry Potter and the Philosopher's Stone,"Rowling, J.K.","4,200,654",Bloomsbury,Children's Fiction
3,Harry Potter and the Order of the Phoenix,"Rowling, J.K.","4,179,479",Bloomsbury,Children's Fiction
4,Fifty Shades of Grey,"James, E. L.","3,758,936",Random House,Romance & Sagas
...,...,...,...,...,...
95,"Ghost,The","Harris, Robert","807,311",Random House,General & Literary Fiction
96,Happy Days with the Naked Chef,"Oliver, Jamie","794,201",Penguin,Food & Drink: General
97,"Hunger Games,The:Hunger Games Trilogy","Collins, Suzanne","792,187",Scholastic Ltd.,Young Adult Fiction
98,"Lost Boy,The:A Foster Child's Search for the L...","Pelzer, Dave","791,507",Orion,Biography: General
99,Jamie's Ministry of Food:Anyone Can Learn to C...,"Oliver, Jamie","791,095",Penguin,Food & Drink: General

# 7. Scrape the details most watched tv series of all time from imdb.com. 
Url = https://www.imdb.com/list/ls095964455/ You have 
to find the following details: 
A) Name 
B) Year span 
C) Genre 
D) Run time 
E) Ratings 
F) Votes

In [70]:
#getting driver
driver=webdriver.Chrome()

In [71]:
#getting url
driver.get('https://www.imdb.com/list/ls095964455/')

In [72]:
driver.maximize_window() ##maximizing window

In [73]:
##creating emptylist to store data
name=[]
year=[]
genre=[]
rating=[]
votes=[]

In [74]:
##extracting name
nt=driver.find_elements(By.XPATH,'//div[@class="lister-item-content"]/h3/a')
for i in nt:
    name.append(i.text)

In [75]:
print(len(name),name)

100 ['Game of Thrones', 'Stranger Things', 'The Walking Dead', '13 Reasons Why', 'The 100', 'Orange Is the New Black', 'Riverdale', "Grey's Anatomy", 'The Flash', 'Arrow', 'Money Heist', 'The Big Bang Theory', 'Black Mirror', 'Sherlock', 'Vikings', 'Pretty Little Liars', 'The Vampire Diaries', 'American Horror Story', 'Breaking Bad', 'Lucifer', 'Supernatural', 'Prison Break', 'How to Get Away with Murder', 'Teen Wolf', 'The Simpsons', 'Once Upon a Time', 'Narcos', 'Daredevil', 'Friends', 'How I Met Your Mother', 'Suits', 'Mr. Robot', 'The Originals', 'Supergirl', 'Gossip Girl', 'Sense8', 'Gotham', 'Westworld', 'Jessica Jones', 'Modern Family', 'Rick and Morty', 'Shadowhunters', 'The End of the F***ing World', 'House of Cards', 'Dark', 'Elite', 'Sex Education', 'Shameless', 'New Girl', 'Agents of S.H.I.E.L.D.', 'You', 'Dexter', 'Fear the Walking Dead', 'Family Guy', 'The Blacklist', 'Lost', 'Peaky Blinders', 'House', 'Quantico', 'Orphan Black', 'Homeland', 'Blindspot', "DC's Legends of Tomorrow", "The Handmaid's Tale", 'Chilling Adventures of Sabrina', 'The Good Doctor', 'Jane the Virgin', 'Glee', 'South Park', 'Brooklyn Nine-Nine', 'Under the Dome', 'The Umbrella Academy', 'True Detective', 'The OA', 'Desperate Housewives', 'Better Call Saul', 'Bates Motel', 'The Punisher', 'Atypical', 'Dynasty', 'This Is Us', 'The Good Place', 'Iron Fist', 'The Rain', 'Mindhunter', 'Revenge', 'Luke Cage', 'Scandal', 'The Defenders', 'Big Little Lies', 'Insatiable', 'The Mentalist', 'The Crown', 'Chernobyl', 'iZombie', 'Reign', 'A Series of Unfortunate Events', 'Criminal Minds', 'Scream: The TV Series', 'The Haunting of Hill House']

In [79]:
##extractingyear span
yt=driver.find_elements(By.XPATH,'//div[@class="lister-item-content"]/h3/span[2]')
for i in yt:
    year.append(i.text)

In [80]:
print(len(year),year)

100 ['(2011–2019)', '(2016–2025)', '(2010–2022)', '(2017–2020)', '(2014–2020)', '(2013–2019)', '(2017–2023)', '(2005– )', '(2014–2023)', '(2012–2020)', '(2017–2021)', '(2007–2019)', '(2011– )', '(2010– )', '(2013–2020)', '(2010–2017)', '(2009–2017)', '(2011– )', '(2008–2013)', '(2016–2021)', '(2005–2020)', '(2005–2017)', '(2014–2020)', '(2011–2017)', '(1989– )', '(2011–2018)', '(I) (2015–2017)', '(2015–2018)', '(1994–2004)', '(2005–2014)', '(2011–2019)', '(2015–2019)', '(2013–2018)', '(2015–2021)', '(2007–2012)', '(2015–2018)', '(2014–2019)', '(2016–2022)', '(2015–2019)', '(2009–2020)', '(2013– )', '(2016–2019)', '(2017–2019)', '(2013–2018)', '(2017–2020)', '(2018–2024)', '(2019–2023)', '(2011–2021)', '(2011–2018)', '(2013–2020)', '(2018–2024)', '(2006–2013)', '(2015–2023)', '(1999– )', '(2013–2023)', '(2004–2010)', '(2013–2022)', '(2004–2012)', '(2015–2018)', '(2013–2017)', '(2011–2020)', '(2015–2020)', '(2016–2022)', '(2017– )', '(2018–2020)', '(2017– )', '(2014–2019)', '(2009–2015)', '(1997– )', '(2013–2021)', '(2013–2015)', '(2019–2024)', '(2014– )', '(2016–2019)', '(2004–2012)', '(2015–2022)', '(2013–2017)', '(2017–2019)', '(2017–2021)', '(2017–2022)', '(2016–2022)', '(2016–2020)', '(2017–2018)', '(2018–2020)', '(2017–2019)', '(2011–2015)', '(2016–2018)', '(2012–2018)', '(2017)', '(2017–2019)', '(2018–2019)', '(2008–2015)', '(2016–2023)', '(2019)', '(2015–2019)', '(2013–2017)', '(2017–2019)', '(2005– )', '(2015–2019)', '(2018)']

In [81]:
##extracting runtime
time=[]
tt=driver.find_elements(By.XPATH,'//div[@class="lister-item-content"]/p[1]/span[3]')
for i in tt:
    time.append(i.text)

In [82]:
print(len(time),time)

100 ['4,189 min', '51 min', '44 min', '60 min', '43 min', '59 min', '45 min', '41 min', '43 min', '42 min', '70 min', '5,702 min', '60 min', '88 min', '44 min', '44 min', '43 min', '60 min', '3,030 min', '42 min', '44 min', '44 min', '43 min', '41 min', '22 min', '60 min', '49 min', '54 min', '5,280 min', '4,576 min', '44 min', '49 min', '45 min', '43 min', '42 min', '60 min', '42 min', '62 min', '56 min', '22 min', '23 min', '42 min', '25 min', '3,804 min', '1,455 min', '60 min', '45 min', '46 min', '22 min', '45 min', '45 min', '5,076 min', '44 min', '22 min', '43 min', '44 min', '2,109 min', '7,788 min', '42 min', '44 min', '55 min', '42 min', '42 min', '60 min', '60 min', '41 min', '60 min', '44 min', '22 min', '22 min', '43 min', '60 min', '55 min', '60 min', '45 min', '3,154 min', '45 min', '53 min', '30 min', '42 min', '45 min', '22 min', '55 min', '45 min', '60 min', '44 min', '55 min', '43 min', '50 min', '356 min', '45 min', '43 min', '58 min', '330 min', '42 min', '42 min', '50 min', '42 min', '45 min', '572 min']

In [83]:
##extracting genre
gt=driver.find_elements(By.XPATH,'//div[@class="lister-item-content"]/p[1]/span[5]')
for i in gt:
    genre.append(i.text)

In [84]:
print(len(genre),genre)

100 ['Action, Adventure, Drama', 'Drama, Fantasy, Horror', 'Drama, Horror, Thriller', 'Drama, Mystery, Thriller', 'Drama, Mystery, Sci-Fi', 'Comedy, Crime, Drama', 'Crime, Drama, Mystery', 'Drama, Romance', 'Action, Adventure, Drama', 'Action, Adventure, Crime', 'Action, Crime, Drama', 'Comedy, Romance', 'Drama, Mystery, Sci-Fi', 'Crime, Drama, Mystery', 'Action, Adventure, Drama', 'Drama, Mystery, Romance', 'Drama, Fantasy, Horror', 'Drama, Horror, Sci-Fi', 'Crime, Drama, Thriller', 'Crime, Drama, Fantasy', 'Drama, Fantasy, Horror', 'Action, Crime, Drama', 'Crime, Drama, Mystery', 'Action, Drama, Fantasy', 'Animation, Comedy', 'Adventure, Fantasy, Romance', 'Biography, Crime, Drama', 'Action, Crime, Drama', 'Comedy, Romance', 'Comedy, Drama, Romance', 'Comedy, Drama', 'Crime, Drama, Thriller', 'Drama, Fantasy, Horror', 'Action, Adventure, Drama', 'Drama, Romance', 'Drama, Mystery, Sci-Fi', 'Action, Crime, Drama', 'Drama, Mystery, Sci-Fi', 'Action, Crime, Drama', 'Comedy, Drama, Romance', 'Animation, Adventure, Comedy', 'Action, Drama, Fantasy', 'Adventure, Comedy, Crime', 'Drama', 'Crime, Drama, Mystery', 'Crime, Drama, Thriller', 'Comedy, Drama', 'Comedy, Drama', 'Comedy, Romance', 'Action, Adventure, Drama', 'Crime, Drama, Romance', 'Crime, Drama, Mystery', 'Drama, Horror, Sci-Fi', 'Animation, Comedy', 'Crime, Drama, Mystery', 'Adventure, Drama, Fantasy', 'Crime, Drama', 'Drama, Mystery', 'Crime, Drama, Mystery', 'Drama, Sci-Fi, Thriller', 'Crime, Drama, Mystery', 'Action, Crime, Drama', 'Action, Adventure, Drama', 'Drama, Sci-Fi, Thriller', 'Drama, Fantasy, Horror', 'Drama', 'Comedy', 'Comedy, Drama, Music', 'Animation, Comedy', 'Comedy, Crime', 'Drama, Mystery, Sci-Fi', 'Action, Adventure, Comedy', 'Crime, Drama, Mystery', 'Drama, Fantasy, Mystery', 'Comedy, Drama, Mystery', 'Crime, Drama', 'Drama, Horror, Mystery', 'Action, Crime, Drama', 'Comedy, Drama', 'Drama', 'Comedy, Drama, Romance', 'Comedy, Drama, Fantasy', 'Action, Adventure, Crime', 'Drama, Sci-Fi, Thriller', 'Crime, Drama, Mystery', 'Drama, Mystery, Thriller', 'Action, Crime, Drama', 'Drama, Thriller', 'Action, Adventure, Crime', 'Crime, Drama, Mystery', 'Comedy, Drama, Thriller', 'Crime, Drama, Mystery', 'Biography, Drama, History', 'Drama, History, Thriller', 'Comedy, Crime, Drama', 'Drama', 'Adventure, Comedy, Drama', 'Crime, Drama, Mystery', 'Comedy, Crime, Drama', 'Drama, Horror, Mystery']

In [85]:
##extracting rating
rt=driver.find_elements(By.XPATH,'//div[@class="lister-item-content"]/div[1]/div[1]')
for i in rt:
    rating.append(i.text)

In [86]:
print(len(rating),rating)

100 ['9.2', '8.7', '8.1', '7.5', '7.6', '8', '6.5', '7.6', '7.5', '7.5', '8.2', '8.2', '8.7', '9.1', '8.5', '7.4', '7.7', '8', '9.5', '8.1', '8.4', '8.3', '8.1', '7.7', '8.7', '7.7', '8.8', '8.6', '8.9', '8.3', '8.4', '8.5', '8.3', '6.2', '7.5', '8.2', '7.8', '8.5', '7.9', '8.5', '9.1', '6.5', '8', '8.7', '8.7', '7.2', '8.3', '8.5', '7.8', '7.5', '7.7', '8.7', '6.8', '8.2', '8', '8.3', '8.8', '8.7', '6.7', '8.3', '8.3', '7.3', '6.8', '8.4', '7.4', '8', '7.9', '6.8', '8.7', '8.4', '6.5', '7.9', '8.9', '7.8', '7.6', '9', '8.1', '8.5', '8.2', '7.3', '8.7', '8.2', '6.4', '6.3', '8.6', '7.8', '7.3', '7.7', '7.2', '8.4', '6.5', '8.2', '8.6', '9.3', '7.8', '7.5', '7.8', '8.1', '7', '8.6']

In [87]:
##extracting votesv
vt=driver.find_elements(By.XPATH,'//div[@class="lister-item-content"]/p[4]/span[2]')
for i in vt:
    votes.append(i.text)

In [88]:
print(len(votes),votes)

100 ['2,225,424', '1,292,564', '1,055,722', '309,990', '269,108', '315,896', '152,807', '332,390', '364,559', '442,533', '514,084', '847,972', '619,451', '974,740', '566,726', '175,688', '341,999', '337,411', '2,065,697', '346,704', '471,705', '567,305', '162,901', '160,011', '428,292', '233,889', '457,002', '464,612', '1,058,953', '715,955', '458,989', '409,228', '144,730', '128,305', '188,134', '160,659', '238,189', '524,070', '223,511', '467,082', '578,670', '68,756', '212,649', '523,515', '427,002', '88,482', '336,583', '269,839', '240,312', '223,769', '287,959', '751,417', '140,299', '357,906', '273,665', '582,320', '617,901', '494,973', '63,215', '115,501', '355,799', '77,853', '108,982', '252,377', '105,546', '108,851', '57,080', '153,897', '398,343', '347,084', '110,946', '267,139', '615,622', '112,105', '136,739', '617,081', '114,900', '257,288', '100,467', '24,411', '153,743', '181,671', '137,469', '40,506', '321,282', '123,691', '137,531', '78,553', '114,317', '218,021', '31,694', '196,106', '238,973', '831,789', '72,948', '53,246', '65,339', '213,068', '44,364', '277,668']

In [89]:
###making dataframe
df7=pd.DataFrame({'Name':name, 'Year span' :year, 'Genre':genre ,'Run time' :time, 'Ratings':rating , 'Votes':votes})
df7

,Name,Year span,Genre,Run time,Ratings,Votes
0,Game of Thrones,(2011–2019),"Action, Adventure, Drama","4,189 min",9.2,"2,225,424"
1,Stranger Things,(2016–2025),"Drama, Fantasy, Horror",51 min,8.7,"1,292,564"
2,The Walking Dead,(2010–2022),"Drama, Horror, Thriller",44 min,8.1,"1,055,722"
3,13 Reasons Why,(2017–2020),"Drama, Mystery, Thriller",60 min,7.5,"309,990"
4,The 100,(2014–2020),"Drama, Mystery, Sci-Fi",43 min,7.6,"269,108"
...,...,...,...,...,...,...
95,Reign,(2013–2017),Drama,42 min,7.5,"53,246"
96,A Series of Unfortunate Events,(2017–2019),"Adventure, Comedy, Drama",50 min,7.8,"65,339"
97,Criminal Minds,(2005– ),"Crime, Drama, Mystery",42 min,8.1,"213,068"
98,Scream: The TV Series,(2015–2019),"Comedy, Crime, Drama",45 min,7,"44,364"
99,The Haunting of Hill House,(2018),"Drama, Horror, Mystery",572 min,8.6,"277,668"

# 8. Details of Datasets from UCI machine learning repositories. 
Url = https://archive.ics.uci.edu/ You 
have to find the following details: 
A) Dataset name 
B) Data type 
C) Task 
D) Attribute type 
E) No of instances 
F) No of attribute G) Year

In [2]:
#gettig driver
driver=webdriver.Chrome()

In [3]:
#getting url
driver.get('https://archive.ics.uci.edu/')

In [4]:
driver.maximize_window() ##maximizing window

In [5]:
#clicking on datasets
dataset=driver.find_element(By.XPATH,'/html/body/div/div[1]/div[1]/main/div/div[1]/div/div/div/a[1]')
dataset.click()

In [6]:
#creating empty list to store data
name=[] 
datatype=[]
task=[]
atype=[]
noi=[]
attribute=[] 
year=[]
url=[]

In [7]:
#3extracting url
urltag=driver.find_elements(By.XPATH,'//h2[@class="truncate text-primary"]/a')
for i in urltag:
    url.append(i.get_attribute("href"))

In [8]:
print(len(url),url)

10 ['https://archive.ics.uci.edu/dataset/53/iris', 'https://archive.ics.uci.edu/dataset/45/heart+disease', 'https://archive.ics.uci.edu/dataset/2/adult', 'https://archive.ics.uci.edu/dataset/109/wine', 'https://archive.ics.uci.edu/dataset/17/breast+cancer+wisconsin+diagnostic', 'https://archive.ics.uci.edu/dataset/34/diabetes', 'https://archive.ics.uci.edu/dataset/602/dry+bean+dataset', 'https://archive.ics.uci.edu/dataset/19/car+evaluation', 'https://archive.ics.uci.edu/dataset/186/wine+quality', 'https://archive.ics.uci.edu/dataset/545/rice+cammeo+and+osmancik']

In [9]:
#extracting name of dataset
nt=driver.find_elements(By.XPATH,'//h2[@class="truncate text-primary"]/a')
for i in nt:
    name.append(i.text)

In [10]:
print(len(name),name)

10 ['Iris', 'Heart Disease', 'Adult', 'Wine', 'Breast Cancer Wisconsin (Diagnostic)', 'Diabetes', 'Dry Bean Dataset', 'Car Evaluation', 'Wine Quality', 'Rice (Cammeo and Osmancik)']

In [12]:
#extracting datatype
typetag=driver.find_elements(By.XPATH,'//div[@class="col-span-3 flex items-center gap-2"][2]/span')
for i in typetag:
    datatype.append(i.text)

In [13]:
print(len(datatype),datatype)

10 ['Tabular', 'Multivariate', 'Multivariate', 'Tabular', 'Multivariate', 'Multivariate, Time-Series', 'Multivariate', 'Multivariate', 'Multivariate', 'Multivariate']

In [14]:
#extracting no of instances
noit=driver.find_elements(By.XPATH,'//div[@class="col-span-3 flex items-center gap-2"][3]/span')
for i in noit:
    noi.append(i.text)

In [15]:
print(len(noi),noi)

10 ['150 Instances', '303 Instances', '48.84K Instances', '178 Instances', '569 Instances', '1 Instances', '13.61K Instances', '1.73K Instances', '4.9K Instances', '3.81K Instances']

In [16]:
#extracting no of attributes
noat=driver.find_elements(By.XPATH,'//div[@class="col-span-3 flex items-center gap-2"][4]/span')
for i in noat:
    attribute.append(i.text)

In [17]:
print(len(attribute),attribute)

10 ['4 Features', '13 Features', '14 Features', '13 Features', '30 Features', '20 Features', '16 Features', '6 Features', '12 Features', '7 Features']

In [18]:
##clicking on expand all filter to extract data
expandall=driver.find_element(By.XPATH,'/html/body/div/div[1]/div[1]/main/div/div[2]/div[1]/div/label[2]/div[2]/span[2]')
expandall.click()

In [19]:
#extracting attribute type

att=driver.find_elements(By.XPATH,'//tbody[@class="border"]/tr/td[2]')
for i in att:
    atype.append(i.text)

In [20]:
print(len(atype),atype)

10 ['Real', 'Categorical, Integer, Real', 'Categorical, Integer', 'Integer, Real', 'Real', 'Categorical, Integer', 'Integer, Real', 'Categorical', 'Real', 'Real']

In [22]:
#extractig year 
yt=driver.find_elements(By.XPATH,'//tbody[@class="border"]/tr/td[3]')
for i in yt:
    year.append(i.text)

In [23]:
print(len(year),year)

10 ['7/1/1988', '7/1/1988', '5/1/1996', '7/1/1991', '11/1/1995', 'N/A', '9/14/2020', '6/1/1997', '10/7/2009', '10/6/2019']

In [25]:
##extracting task
tasktag=driver.find_elements(By.XPATH,'//div[@class="relative col-span-8 sm:col-span-7"]/p')
for i in tasktag:
    task.append(i.text)

In [26]:
print(len(task),task)

10 ['A small classic dataset from Fisher, 1936. One of the earliest known datasets used for evaluating classification methods.', '4 databases: Cleveland, Hungary, Switzerland, and the VA Long Beach', 'Predict whether income exceeds $50K/yr based on census data. Also known as "Census Income" dataset.', 'Using chemical analysis to determine the origin of wines', 'Diagnostic Wisconsin Breast Cancer Database.', "This diabetes dataset is from AIM '94", 'Images of 13,611 grains of 7 different registered dry beans were taken with a high-resolution camera. A total of 16 features; 12 dimensions and 4 shape forms, were obtained from the grains.', 'Derived from simple hierarchical decision model, this database may be useful for testing constructive induction and structure discovery methods.', 'Two datasets are included, related to red and white vinho verde wine samples, from the north of Portugal. The goal is to model wine quality based on physicochemical tests (see [Cortez et al., 2009], http://www3.dsi.uminho.pt/pcortez/wine/).', "A total of 3810 rice grain's images were taken for the two species, processed and feature inferences were made. 7 morphological features were obtained for each grain of rice."]

In [27]:
#making dataframe
df8=pd.DataFrame({'Dataset name':name ,' Data type':datatype , 'Task':task , 'Attribute type':atype , 'No of instances':noi, 'No of attribute':attribute , 'Year':year})
df8

,Dataset name,Data type,Task,Attribute type,No of instances,No of attribute,Year
0,Iris,Tabular,"A small classic dataset from Fisher, 1936. One...",Real,150 Instances,4 Features,7/1/1988
1,Heart Disease,Multivariate,"4 databases: Cleveland, Hungary, Switzerland, ...","Categorical, Integer, Real",303 Instances,13 Features,7/1/1988
2,Adult,Multivariate,Predict whether income exceeds $50K/yr based o...,"Categorical, Integer",48.84K Instances,14 Features,5/1/1996
3,Wine,Tabular,Using chemical analysis to determine the origi...,"Integer, Real",178 Instances,13 Features,7/1/1991
4,Breast Cancer Wisconsin (Diagnostic),Multivariate,Diagnostic Wisconsin Breast Cancer Database.,Real,569 Instances,30 Features,11/1/1995
5,Diabetes,"Multivariate, Time-Series",This diabetes dataset is from AIM '94,"Categorical, Integer",1 Instances,20 Features,N/A
6,Dry Bean Dataset,Multivariate,"Images of 13,611 grains of 7 different registe...","Integer, Real",13.61K Instances,16 Features,9/14/2020
7,Car Evaluation,Multivariate,Derived from simple hierarchical decision mode...,Categorical,1.73K Instances,6 Features,6/1/1997
8,Wine Quality,Multivariate,"Two datasets are included, related to red and ...",Real,4.9K Instances,12 Features,10/7/2009
9,Rice (Cammeo and Osmancik),Multivariate,A total of 3810 rice grain's images were taken...,Real,3.81K Instances,7 Features,10/6/2019

In [28]:
driver.close()